.Rproj.user
.Rhistory
.RData
.Ruserdata
.Rapp.history
.DS_Store
analysis/figure
analysis/*png
analysis/*html
analysis/*_cache
analysis/site_libs
*vcf.gz*
*.bcf*
*.bed
output/
*.fasta*
*.fna*
*.sizes
data/1kgp/chr15/
data/1kgp/chr8/
